attrs==21.2.0
black==21.10b0
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
coverage==6.1.2
flake8==4.0.1
iniconfig==1.1.1
mccabe==0.6.1
mypy-extensions==0.4.3
packaging==21.2
pathspec==0.9.0
platformdirs==2.4.0
pluggy==1.0.0
prompt-tool-kit==1.0.14
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.10.0
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==3.0.0
pytest-cover==3.0.0
pytest-coverage==0.0
python-inquirer==1.0.3
regex==2021.11.10
rich==10.14.0
shortuuid==1.0.8
six==1.16.0
toml==0.10.2
tomli==1.2.2
typing_extensions==4.0.0
wcwidth==0.2.5
